# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env
*.env

# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm / JetBrains
.idea/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
